{% load i18n %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>{% trans "Paris Metro Simulation" %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static "img/metroicon.png" %}"/>

    <!-- Custom styles for this template -->
    <link href="{% static "css/home.css" %}" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img class="logo" src="{% static "img/metro.png" %}"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.resolver_match.url_name == 'home-view' %}active{% endif %}">
              <a href="/">{% trans "Ridership Simulation" %}</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'relevance-view' %}active{% endif %}">
              <a href="/relevance">{% trans "Stations Revelance" %}</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'explanation-view' %}active{% endif %}">
              <a href="/explanation">{% trans "Discussion" %}</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'methodology-view' %}active{% endif %}">
              <a href="/methodology">{% trans "Methodology" %}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">  
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ lang.name_local |title }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "set_language_from_url" user_language="en" %}">English</a></li>
                <li><a href="{% url "set_language_from_url" user_language="fr" %}">Français</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

    <div class="block-content">
      {% block content %}
      {% endblock %}
    </div>


  </body>
  <footer> 
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <hr />
    <div class="container">
            <div class="footer-contact text-center center-block">
              <a href="https://twitter.com/studust"><i class="fa fa-twitter-square fa social"></i></a>
              <a href="https://github.com/tristanguigue"><i class="fa fa-github fa social"></i></a>
              <a href="mailto:tristan.guigue@gmail.com"><i class="fa fa-envelope-square fa social"></i></a>
            </div>
    </div>
  </footer>
</html>
