{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Paris Metro Simulation Flow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" charset="utf-8">
</head>
<body>
    <div>This is a div</div>
    <div id="map" style="height:500px; width:800px;"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.js"></script>
    <script src="{% static "js/index.js" %}"></script>
</body>
</html>
